- @destinations.each do |destination|
  %h3= destination
  - @stations.each do |station|
    = station.origin
    = station.trains.select{|train|train.destination == destination}.map{|train|train.minutes}.join(', ')
    %br/
