defaults: &defaults
  host: 127.0.0.1
  port: 27017

development:
  <<: *defaults
  database: bortapp_development

test:
  <<: *defaults
  database: bortapp_test

# set these environment variables on your prod server
production:
  host: flame.mongohq.com
  port: 27105
  database: bortapp
  username: <%= ENV['MONGO_USERNAME'] %>
  password: <%= ENV['MONGO_PASSWORD'] %>
